---
import images from '../data/images.json';
---

<style>
.gallery { display:grid; grid-template-columns: repeat(auto-fill,minmax(160px,1fr)); gap:2px; }
.thumb { cursor:pointer; width:100%; height:150px; object-fit:cover; }
.header { position: relative; height: 200px; margin-bottom: 100px; width: 100%; }
.header-image { position: absolute; height: 200px; width: 100%; object-fit:cover; display: block; }
.header-above { display: flex; align-items: end; position: relative; bottom: -70px; left: 20px;}
.icon { width: 200px; height:200px; object-fit:cover; border-radius:50%;}
.name { font-weight: normal; margin-left: 20px;}
</style>

<div class="header">
  <img src="images/header.jpg" class="header-image">
  <div class="header-above">
    <img src="images/icon/sui.jpg" class="icon">
    <h1 class="name"> sui </h1>
  </div>
</div>

<div class="gallery">
  {images.map(image => (
    <img
      class="thumb"
      src={`images/thumbs/${image.file}`}
      alt={image.title}
      data-full={`images/original/${image.file}`}
      data-title={image.title}
      data-date={image.date}
      loading="lazy"
    />
  ))}
</div>

<script type="module" src="assets/lightbox.js"></script>
